@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* COLOR */
    --primary-color: #384899;
    --secondary-color: #7fcfd3;
    --title-color: #0f0324;
    --description-color: #8D96AC;
    --white-color: #ffffff;
    --border-color: #e4e5e7;
    --bg-color: #EBF0FE;
    --bg2-color: #F8F8F8;
    /* TYPOGRAPHY */
    --h1-font-size: 22px;
    --h2-font-size: 20px;
    --normal-font-size: 15px;
    --small-font-size: 13px;
    /* TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-container {
    height: 20px;
    overflow-y: scroll;
}

.scroll-content {
    padding: 20px;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    padding: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--title-color);
    background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: 600;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: 600;
}

p {
    font-size: var(--small-font-size);
    color: var(--description-color);
    margin: 0;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--title-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* Common css Style */



.btn {
    padding: 18px 30px;
    border-radius: 100px;
    font-size: var(--normal-font-size);
    background: var(--primary-color);
    color: var(--white-color);
    transition: all 0.5s ease-in-out;
    border: none;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
}

.btn_s {
    padding: 18px 30px;
    border-radius: 100px;
    font-size: var(--normal-font-size);
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}

input {
    padding: 15px 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.body_area.screen {
    height: 100vh;
}

.body_area {
    max-width: 430px;
    margin: auto;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: var(--white-color);
    position: relative;
}

.body_area .top_nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(193, 192, 192, 0.25);
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

.body_area .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 30px;
    background: #ffffff;
    box-shadow: 0px -4px 24px rgba(193, 192, 192, 0.25);
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--title-color);
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    border-radius: 100px;
}

.footer a.active,
.footer a:hover {
    background-color: var(--primary-color);
    border-radius: 100px;
    color: var(--white-color);
}

.footer a.active .icons,
.footer a:hover .icons {
    color: var(--white-color);
    font-size: 18px;
}

.user_img {
    text-align: center;
}

.user_img h2 {
    margin-top: 10px;
}


.container {
    padding: 0 20px;
}

.top_nav h2 {
    width: 72%;
    text-align: center
}

.wrapper {
    margin-top: 20px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen .wrapper {
    align-items: flex-start;
    padding: 0;
    height: 100%;
}

.icons {
    font-size: 24px;
    color: var(--description-color);
}

.mt-1,
.mb-1 {
    margin-top: 10px;
}

.mt-2,
.mb-2 {
    margin-top: 20px;
}

.mt-3,
.mb-3 {
    margin-top: 30px;
}

.mt-4,
.mb-4 {
    margin-top: 40px;
}

.mt-5,
.mb-5 {
    margin-top: 50px;
}

.text_center {
    text-align: center;
}

/* ======================= */

/* ======================= */

.banner img {
    width: 100%;
    height: 200px;
}

.caddy_golfer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.caddy_golfer p{
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--title-color);
}

.caddy_golfer .caddy,
.caddy_golfer .golfer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid var(--border-color);
    padding: 10px;
    position: relative;
    border-radius: 16px;
    width: 180px;
    height: 160px;
}

.caddy_golfer .icons {
    color: #DADADA;
    position: absolute;
    top: 10px;
    right: 10px;
}

.caddy_golfer .active {
    border-color: #4BAE4F;
}

.caddy_golfer .active .icons {
    color: #4BAE4F;
}

.text_box {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background: var(--bg-color);
    border: 1px solid var(--title-color);
}

.text_box p {
    margin-top: 10px;
}

/* ----------------- */
.dropdown-container {
    position: relative;
    display: inline-block;
    width: 120px;
}

.selected-text {
    margin-right: 20px;
}

.dropdown-container .selected-option {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border-right: 1px solid var(--border-color);
}

.fa-chevron-down.icons {
    font-size: 14px;
}

.dropdown-container .selected-option i {
    margin-left: 8px;
}

.dropdown-container .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    margin-top: 10px;
}

.dropdown-container .dropdown-list.open {
    display: block;
}

.dropdown-container .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;
}

.dropdown-container .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-container .flag-icon {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.input_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input_area .input_field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: #F8F8F8;
    padding: 8px 0;
    padding-right: 15px;
    width: 100%;
}

.input_area input {
    border: none;
    background: transparent;
    width: 100%;
}


/* ================
otp_page
 ================= */

.otp_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otp_area input {
    width: 55px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.wrapper_item {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 20px;
    width: 100%;
}

.wrapper_item .item {
    width: 100%;
}


/* ================
Add Bank
 ================= */

.icon-input {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.icon-input input {
    padding-left: 40px;
    width: 100%;
    font-size: 14px;
    color: var(--description-color);
}

.icon-input .icon {
    position: absolute;
    top: 12px;
    left: 10px;
}

.icon-input .icon .icons {
    font-size: 16px;
    color: var(--description-color)
}


/* ================
My Profile
 ================= */
.my_profile .user_img {
    text-align: center;
}

.my_profile .user_img h2 {
    margin-top: 10px;
}

.input-container {
    width: 100%;
    margin-bottom: 50px;
}

.input-container .input_item {
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
    background: var(--bg2-color);
}

.input-container input:focus {
    outline: none;
}

.input-container label {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 16px;
    color: gray;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

/* ========================
Rate Page
=========================== */

.rate_page .user_img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    top: -60px;

}

.rate_page .user_img img {
    width: 110px;
    height: 110px;
    border: 2px solid var(--white-color);
    border-radius: 100px;

}

.ul.crate_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;

}

.ul.crate_list li {
    width: 83px;
    height: 83px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul.crate_list li:hover {
    background: #dbdbdb;
}

.ul.crate_list li a {
    color: var(--title-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-bonus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 8px;
    margin-bottom: 30px;
}

.bg_amount {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}


.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.decrement,
.increment {
    background-color: #f2f2f2;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
}

.count {
    margin: 0 30px;
    font-size: 36px;
}

.brand_info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.charlie_list,
.mode_list {
    margin-top: 50px;
    padding: 20px;
    background: var(--bg2-color);
    border-radius: 8px;
}

.charlie_list .list,
.mode_list .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 10px 0;
}

.mode_list {
    background: transparent;
    padding: 0
}

.mode_list .list {
    background: var(--bg2-color);
    margin-top: 20px;
    padding: 12px 20px;
    cursor: pointer;
}

.mode_list .list .payer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mode_list .list.active .payer .icons {
    color: var(--description-color) !important;
}

.mode_list .list .icons.fa-circle-check {
    color: var(--description-color) !important;
}

.mode_list .list.active .icons.fa-circle-check {
    display: block;
    color: #4BAE4F !important;
}

.mode_list .active .fa-circle-check {
    display: block;
    color: #4BAE4F !important;
}

.bt_logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.bt_logo img {
    width: 80px;
}

.payment_successful_m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.payment_successful_m .icons {
    font-size: 50px;
    margin-bottom: 20px;
    color: #4BAE4F;
}


/* ========================== */

.gallery {
    margin-bottom: 30px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.thumbnail {
    flex: 0 0 calc(33.33% - 10px);
    height: 100px;
    margin: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery #imageUpload {
    width: 100%;
    display: none;
}

.upload-container {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.upload-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background: var(--bg-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 18px 20px;
}

.upload-label:hover {
  background-color: #d0d0d0;
}

.camera-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.upload-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
}

.mode_list .list .user_img{
    width: 70px;
}